/* Put your CSS here */
.ember-application {
    margin: 20px;
}

body {
  color: #7e7e7e;
  font-family: Arial;
  margin: 0 auto;
  position: relative;
  text-align: center;
  line-height: 1.5em;
}

h1, h2, h3 {
  color: #3f3f3f;
}
